body {
    background-color: gray !important;
    overflow: hidden;
    font-family: 'Noto Sans', sans-serif;
    min-width: fit-content;
}

canvas {
    position: absolute;
    z-index: 2;
}

h3 {
    position: absolute;
    margin: 20px;
}

p {
    margin-top: -5px;
    margin-left: 20px;
    text-align: center;
    font-size: larger;
}

.battery {
    margin-top: 10px;
    text-align: center;
    z-index: 4;
}

.lights {
    z-index: 3;
    display: flex;
    width: 193px; /*can be in percentage also.*/
    height: auto;
    margin: 0 auto;
    padding: 10px;
    position: relative;
    margin-top: -97px;
}

.light-item {
    width: 52px;
    height: 80px;
    background-color: greenyellow;
    z-index: 3;
}

.baseline {
    position: absolute;
    width: 100%;
    height: 60px;
    background-color: #C1BFC0 !important;
    top: 75%;
    z-index: 0;
}

.abdomen {
    position: absolute;
    width: 100%;
    height: 30px;
    background-color: #008443 !important;
    top: calc(75% - 30px);
    z-index: 0;
    transition-duration: 0.5s;
}

.chest {
    position: absolute;
    width: 100%;
    height: 30px;
    background-color: #008443 !important;
    top: 25%;
    z-index: 0;
    transition-duration: 0.5s;
}

.instructions {
    position: absolute;
    margin: 20px;
    margin-top: 70px;
}

.btn:focus, .btn:active {
    outline: none !important;
    box-shadow: none !important;
}

